<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IArticleService" />
                <binding name="BasicHttpBinding_IMonographService" />
                <binding name="BasicHttpBinding_IPresentationService" />
                <binding name="BasicHttpBinding_IReportService" />
                <binding name="BasicHttpBinding_IResearcherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61740/Services/ArticleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticleService"
                contract="svcArticle.IArticleService" name="BasicHttpBinding_IArticleService" />
            <endpoint address="http://localhost:61740/Services/MonographService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonographService"
                contract="svcMonograph.IMonographService" name="BasicHttpBinding_IMonographService" />
            <endpoint address="http://localhost:61740/Services/PresentationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPresentationService"
                contract="svcPresentation.IPresentationService" name="BasicHttpBinding_IPresentationService" />
            <endpoint address="http://localhost:61740/Services/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="svcReport.IReportService" name="BasicHttpBinding_IReportService" />
            <endpoint address="http://localhost:61740/Services/ResearcherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResearcherService"
                contract="svcResearcher.IResearcherService" name="BasicHttpBinding_IResearcherService" />
        </client>
    </system.serviceModel>
</configuration>